@rendermode InteractiveServer


<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider
    FullWidth="true"
    Position="DialogPosition.Center"
    CloseOnEscapeKey="true"
/>
<MudSnackbarProvider />
<MudBreakpointProvider />
<MudRTLProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIcon Icon="@Icons.Material.Filled.LocalPharmacy" Class="mr-3"></MudIcon>
        <MudText Style="color: white;" Typo="Typo.h5">Pharma</MudText>
    </MudAppBar>
    <MudDrawer
        @bind-Open="@_open"
        ClipMode="DrawerClipMode.Always"
        Elevation="1"
        Variant="@DrawerVariant.Mini"
        Style="@(_open ? "width: 15rem;" : "width: 5rem;")"
        @onmouseover="@OpenDrawer"
        @onmouseout="@CloseDrawer"
    >
        <div style="width: 100%; height: 100%; background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);">
            <NavMenu @bind-Open="_open"/>
        </div>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-0">
        <MudContainer Class="mt-6">
            <Routes />
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code{
    private bool _open = false;

    private void OpenDrawer() => _open = true;

    private void CloseDrawer() => _open = false;
}
