<nav class="flex-column @(Open ? "" : "closed")">
    <div class="nav-item px-3">
        <NavLink class="nav-link" style="@(Open ? "" : "padding: 0rem;")" href="products">
            <MudIcon Icon="@Icons.Material.Filled.Inventory" Style="@(Open ? "margin-right: 0.75rem;" : "margin-left: 0.25rem; margin-right: 0rem;")" />
            <span class="nav-text @(Open ? "" : "hidden")">Products</span>
        </NavLink>
    </div>
</nav>

@code
{
    [Parameter]
    public bool Open {get; set;}

    [Parameter]
    public EventCallback<bool> OpenChanged { get; set; }

    private void ToggleOpen()
    {
        Open = !Open;
        OpenChanged.InvokeAsync(Open);
    }
}
